.home{
    font-size: 20px;
    border-style: inset;
    border-radius: 15px;

}

.product{
    font-size: 20px;
    border-style: inset;
    border-radius: 15px;
}

.contact{
    font-size: 20px;
    border-style: inset;
    border-radius: 15px;
}