<div class="intro">
  <div class="introImages"></div>
  <div class="introText">
    <h1 style="font-size: 4em">Shemsu's Shop</h1>
    <p class="item-1">Love your Hunger.</p>
    <p class="item-2">Drink Up.</p>
    <p class="item-3">Good Food equals Good Mood.</p>
  </div>
</div>
<br />
<br />
<section class="text-center container jumbotron">
  <!--Section heading-->
  <h2>Service</h2>
  <!--Section description-->
  <p class="lead">Get the best of our 24/7 service.</p>
  <br />
  <br />

  <div class="row">
    <div class="col-md-4">
      <h5 class="font-weight-bold">Place an order</h5>
      <p>
        Navigate to Products page and find the product/s you'd like to order.
      </p>
    </div>

    <div class="col-md-4">
      <h5 class="font-weight-bold">Pick Up or Delivery</h5>
      <p>
        <b>Delivery: </b> Enter your Phone-number and a Room-number of your preference, and have your order delivered to your door.
      </p>
    </div>

    <div class="col-md-4">
      <h5 class="font-weight-bold">Payment</h5>
      <p>Payment is on delivery of your order.</p>
      <li class="fab fa-paypal">PayPal</li>
      <br />
      <li class="fas fa-credit-card">Bank Transfer</li>
      <br />
      <li class="fas fa-money-bill">Cash</li>
    </div>
  </div>
</section>

